.Heading {
    color: blue;
}

.paragraph {
    color: brown;
}

.code {
    color: blueviolet;
}

.Student table {
    border: 1px solid #ccc;
    width: 300px;
    border-collapse: collapse;
    margin-bottom: 5px;

}

.Student table td,
.Student table th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 5px 10px;

}

.Student table th{
    width: 100px;
}